username="youre6userhere"
apikey="yourapikeyhere"
tags="lesbian cat horse"
blacklisted_tags="-anim -young -young_anthro -scat -cub -child -child_abuse -corpse -gore -feces -urine -loli -shota -baby -toddler -child -infant -poop -shit -guro -snuff -blood -watersports -urine -peeing -diaper -inflation -hyper -prolapse -rape -abuse -torture -vore"
rating=">300"
base_url="yiffer.hu"
