[Unit]
Description=e6postgetter

[Service]
User=app
Group=app
WorkingDirectory=/path/to/venv
ExecStart=/path/to/venv/bin/python3 app.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

